

.epip-zone {
    position: relative;
    height:100%;
    background-image: linear-gradient(var(--epip-color), var(--meso-color));
    .zone-box{
        position:absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        height: 800px;
        width: 88%;
        padding: 0 10px;
        .zone-flex{
            display:flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
