

.header {
    width: 100%;
    height: 100%;
    .header_video{
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
    }
    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center; 
        opacity: 1;
        will-change: transform;
        transform: translate3d(0px, 0px, 0px);
    }
}